* {
    overflow: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(204, 200, 200);
}

.conatiner {
    width: 1300px;
    height: 6827px;
    background-color: #FFFFFF;
    margin: 0px auto;
    margin-top: 7px;
}


.son1 {
    width: 1300px;
    height: 79px;
    /* border: 1px solid black; */
    display: flex;

}

.img1 {
    margin-left: 136px;
    margin-top: 20px;
    width: 128px;
    height: 39px;
    cursor: pointer;
    margin-right: 158px;
}

.ol1 {
    list-style: none;
    display: flex;
    gap: 28px;
    margin-top: 30px;
    margin-right: 40px;
}

.li {
    cursor: pointer;
    transition: .5s;
}

.li:hover {
    color: blue;
    transition: .5s;

}

.btn1 {
    width: 143px;
    height: 44px;
    border-radius: 5px;
    border-color: transparent;
    margin-top: 18px;
    background-color: #575445;
    color: white;
    cursor: pointer;
    transition: .5s;
    border-color: white;
    border-color: transparent;

}

.btn1:hover {
    background-color: darkcyan;
    color: black;
border-color: black;
    transition: .5s;
}

.btn2 {
    width: 125px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #575445;
    gap: 5px;
    border-radius: 5px;
    color: white;
    margin-top: 18px;
    margin-left: 20px;
    cursor: pointer;
    transition: .5s;
    border-color: transparent;
}

.btn2:hover {
    background-color: darkcyan;
    border-color: black;
    color: black;
    transition: .5s;
}
.son2{
    width: 1300px;
    height: 640px;
    background-image: url("../images/3.png");
    position: relative;
}
.p1{
    color: #E6B939;
    font-size: 14px;
    margin-left: 136px;
    position: absolute;
    top: 218px;
}
.p2{
    color: #FFFFFF;
    font-size: 48px;
    position: absolute;
    top: 237px;
    left: 136px;
}
.p3{
    color: #CACCD1;
    position: absolute;
    top: 362px;
    left: 136px;
}
.son3{
    width: 1028px;
    height: 476px;
    /* border: 1px solid black; */
    display: flex;
    margin-left: 136px;
    margin-top: 100px;
}
.img2{
  width: 476px;
  height: 476px;
}
.son_son1{
    width: 400px;
height: 227px;
margin-left: 104px;
margin-top: 134px;
}
.p4{
    text-transform: uppercase;
    color: #E6B939;
    font-size: 14px;
}
.p5{
    font-size: 36px;
    color: #575445;
}
.p7{
    color: #575445;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}
.p7:hover{
    color: red;
    transition: .5s;
}
.son4{
    width: 1300px;
    height: 900px;
    background-image: url("../images/6.png");
    background-color: #FAFAFC;
    margin-top: 100px;
    position: relative;
}
.p_1{
    text-transform: uppercase;
    padding-top: 100px; 
    color: #E6B939;
    font-size: 14px;
}
.p_2{
    font-size: 36px;
    color: #575445;
}
.p_3{
    color: #575445;
}
.flex{
    display: flex;
    gap: 50px;
}
.box_1{
    position: absolute;
    left: 238px;
    top: 299px  ;
}
.bir{
    width: 64px;
    height: 64px;
    background-image: url("../images/7.png");
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 50px;
}
.pn{
    color: #575445;
    font-size: 20px;
    
}
.pn2{
    margin-left: -45px;
    color: #575445;
}
.box_2{
    position: absolute;
    left: 576px;
    top: 299px;
}
.box_3{
    position: absolute;
    left: 966px;
    top: 299px;
}
.box_4{
    position: absolute;
    left: 238px;
    top: 575px;
}
.box_5{
    position: absolute;
    top: 575px;
left: 576px;
}
.box_6{
    position: absolute;
    top: 575px;
    left: 966px;
}
.son5{
    width: 1060px;
    height: 1152.66px;
    /* border: 1px solid black; */
    margin-left: 120px;
    margin-top: 100px;
}
.pm1{
    color: #E6B939;
    font-size: 14px;
}
.pm2{
    font-size: 36px;
    color: #575445;

}
.pm3{
    font-size: 16px;
    color: #575445;
}
.flex1{
    display: flex;
    gap: 16px;
    margin-top: 20px;
}
.boxw{
    background-image: url("../images/14.png");
    width: 379px;
    height: 473px;
    border-radius: 10px;
}
.boxw2{
    background-image: url("../images/15.png");
    width: 379px;
    height: 473px;
    border-radius: 10px;
}
.boxw3{
    background-image: url("../images/16.png");
    width: 379px;
    height: 473px;
    border-radius: 10px;
}
.flex2{
    display: flex;
    gap: 16px;
    margin-top: 16px;

}
.boxq1{
    background-image: url("/assets/images/17.png");
    width: 379px;
    height: 473px;
    border-radius: 10px;
}
.boxq2{
    background-image: url("/assets/images/18.png");
    width: 379px;
    height: 473px;
    border-radius: 10px;
}
.boxq3{
    background-image: url("/assets/images/19.png");
    width: 379px;
    height: 473px;
    border-radius: 10px;
}
.pk1{
    font-size: 28px;
    color: #575445;
padding-top: 40px;

}
.pk2{
    color: #575445;
    font-size: 16px;
padding-top: 16px;
}
.pk3{
    color:#575445;
    /* font-size: 15px; */
    cursor: pointer;
    transition: .5s;
    color:black;
padding-top:20px;
}
.pk3:hover{
    color: red;
    transition: .5s;
}
.sonn1{
    width: 1300px;
    height: 600px;
    margin-top: 100px;
    background-image: url("../images/20.png");
    display: flex;
}
.boxx{
    width: 615px;
    height: 48px;
  background-color: #292C32;
  border-radius: 16px;
  margin-top:512.34px ;
  margin-left: 645px;
  display: flex;

}
.kk1{
    width: 16px;
    height: 16px;
    margin-top: 15px;
    margin-left: 22px;
}
.kk2{
    color: white;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 8px;
    transition: .5s;

}
.kk2:hover{
    color: red;
    transition: .5s;
}
.sonn2{
    width: 1300px;
    height: 393px;
    background-image: url("../images/24.png");
    background-color: rgb(2, 90, 90);
}
.kk3{
    padding-top: 100px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
}
.kk4{
    font-size: 36px;
    color: #E6B939;

}
.kk5{
    color: white;
    font-size: 16px;
}
.btnm1{
    width: 111px;
    height: 44px;
    background-color: white;
    border-radius: 5px;
    border-color: transparent;
    margin-top:20px ;
    cursor: pointer;
    transition:.5s;
}
.btnm1:hover{
    background-color: darkcyan;
    border-color: black;
    color: white;
    transition:.5s;
}
.sonn3{
    width: 1060px;
    height: 643px;
    /* border: 1px solid black; */
    margin: 120px;
}
.ik1{
    color: #E6B939;
    text-transform: uppercase;
    font-size: 14px;
}
.ik2{
    font-size: 36px;
    color: #575445;
}
.ik3{
    margin-top: 7px;
    font-size: 16px;
    color: #575445;
}
.bozz{
    width: 1060px;
    height: 450px;
    margin-top: 20px;
    display: flex;
gap: 30px
}
.nom1{
    width:515px ;
    height: 450px;
    /* border: 1px solid black; */
    border-radius:20px;

}
.nom2{
    width:515px ;
    height: 450px;
    /* border: 1px solid black; */
    border-radius:20px;

}
.art{
    width: 513px;
}
.lo1{
    color: #575445;
    font-size: 20px;

}
.fre{
    display: flex;
    margin-top: 20px;
}
.lo2{
    font-size: 13px;
    margin-top: 0px;
    margin-left: 12px;
    color: #575445  ;
    line-height: 20px;
}
.spn{
    color:#E6B939;
}
.lo3{
    color: #6F7278;
    margin-left: 230px;
    margin-top: 15px;
}
.are{
    width: 50px;
    height: 50px;
}
.lo4{
    color: #6F7278;
    margin-left: 180px;
    margin-top: 15px;
}
.lo5{
    color: #575445;
    margin-top: 19px;
    transition: .5s;
    cursor: pointer;
}
.lo5:hover{
    color: red;
    transition: .5s;
}
.sonn4{
    width: 1040px;
    height: 576px;
    margin: 0px auto;
    /* border: 1px solid black; */
    margin-top: 200px;
    display: flex;
}
.div{
    width: 400px;
    height: 270px;
    /* border: 1px solid black; */
    margin-top: 153px;
    margin-left: 104px;
}
.ko1{
    color: #E6B939;
    text-transform: uppercase;
}
.ko2{
    font-size: 36px;
    color: #575445;
}
.ko3{
    color: #575445;
    font-size: 16px;
    margin-bottom: 20px;
}
.ko4{
    color:#575445 ;
    font-size: 15px;
    cursor: pointer;
    transition: .5s;

}
.ko4:hover{
    color: red;
    transition: .5s;
}
.footer{
    width: 1300px;
    height: 560px;
    background-color: #575445;
margin-top: 99px;
display: flex;

}
.footer_boy{
    width: 1040px;
    height: 427px;
    /* border: 1px solid white; */
    margin-left: 130px;
    margin-top: 80px;
}
.flexc{
    display: flex;
    gap: 60px;
    margin-top: 70px;
}
.kol1{
    color: white;
    list-style-type: none;
}
.li1{
    color: #E6B939;
    text-transform: uppercase;
    cursor: pointer;
    transition:.5s;
}
.li1:hover{
    color: red;
    transition:.5s;
}
.li2{
    cursor: pointer;
    transition: .5s;

}
.li2:hover{
    color: aqua;
    transition: .5s;
}
.form{
    width: 330.59px;
    height: 263px;
    /* border: 1px solid blue; */
}
.kil{
    color: white;
    font-size: 14px;
}
.fform{
    width: 320px;
    margin-left: 3px;
    height: 53px;
    background-color: white;
    display: flex;
        border-radius: 8px;
        margin-top: 16px;
}
input{
    margin-left: 10px;
    border-color: transparent;  
}

.bun{
    width: 73px;
    height: 39px;
    background-color: #575445;
    border-color: transparent;
    color: white;
    border-radius: 10px;
    margin-left: 55px;
    margin-top: 7px;
    cursor: pointer;
    transition:.5s;
}
.bun:hover{
    background-color: darkcyan;
    border-color: black;
    color: black;
    transition:.5s;
}
.reklam{
    display: flex;
    gap: 20px;
    margin-top: 150px;
    margin-left: 170px;
}
.kof{
    color: white;
}